.header {
  width: 100%;
  height: 90px;
  padding: 20px;
  background: #1c1814;

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .navbar__collection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: calc(33.33% - 20px);

      .menu__item {
        display: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
      }

      .navbar__item .navbar__link {
        color: #fff;
        font-size: 18px;
        font-weight: 400;

        .active {
          color: #c99e71;
        }
      }

      .navbar__item .navbar__link:hover {
        color: #c99e71;
      }
    }

    .navbar__logo {
      width: calc(25% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 80px;
      }
    }

    .navbar__icons {
      width: calc(25% - 10px);
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-evenly;

      svg {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
      }

      svg:hover {
        color: #c99e71;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: row;

    .navbar__collection {
      width: 50%;
      justify-content: space-between;

      .menu__item {
        display: block;
      }

      .navbar__item {
        display: none;
      }
    }

    .navbar__icons {
      width: 20%; 
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .navbar {
    flex-direction: column;

    .navbar__logo {
      order: 1;
    }

    .navbar__collection {
      width: 100%;
      justify-content: center;

      .menu__item {
        display: block;
        font-size: 30px;
      }
    }

    .navbar__icons {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .header {
    height: auto;
    padding: 10px 5px;
  }

  .navbar__collection {
    .menu__item {
      font-size: 28px;
    }
  }
}
